<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abrorrahmad.perpustakaanapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Data Jahitan"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PerpustakaanApp">
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".EditActivity"
            android:exported="false" />
        <activity
            android:name=".LihatdataActivity"
            android:exported="false" />
        <activity
            android:name=".DataSelesaiActivity"
            android:exported="false" />
        <activity
            android:name=".DataPelangganActivity"
            android:exported="false" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddActivity"
            android:label="" />
        <activity
            android:name=".MainActivity"
            android:label="Data Jahitan"
            android:theme="@style/Theme.PerpustakaanApp.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>